<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>斩月登录界面</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/css/body.css"/>
</head>
<body>
<div class="container">
	<section id="content">
		<form class="m-t" role="form" method="post" action="/zuser/login" >
			<h1>账号登录</h1>
			{% if info %}
				<a href="#">{{ info }}</a>
			{% endif %}
			<div>
				<input type="text" value="{{ usernamex }}" placeholder="登录账号" AUTOCOMPLETE="off" required="" name="username" />
			</div>
			<div>
				<input type="password" value="{{ passwordx }}" placeholder="登录密码" AUTOCOMPLETE="off" required="" name="password" />
			</div>
			 <div class="">
				<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>			</div> 
			<div>
				<!-- <input type="submit" value="Log in" /> -->
				<input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
				<a href="#">忘记密码?</a>
				<!-- <a href="#">Register</a> -->
			</div>
		</form><!-- form -->
		 <div class="button">
			<span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
			<a href="#">查看该IP登录情况</a>	
		</div> <!-- button -->
	</section><!-- content -->
</div>
<!-- container -->


<br><br><br><br>
<div style="text-align:center;">
<p>协议说明:谢谢使用</p>
</div>
</body>
</html>